body {
    background-color: rgb(46, 47, 48);
    margin: 0;
}
.heading {
    display:block;
    text-align: center;
    padding: 10px 2px 10px 2px;
}
h1 {
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
}
h2, h3, p, li, a {
    font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue
}
.hero-container {
    background-image: url(Assets/136499.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}
.heading {
    color:aliceblue; 
}
.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr;
    width: 100%;
    margin: 20px;
    text-align: center;
    column-gap: 2rem;
}
@media (max-width:600px) {
    .about-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
        width: 100%;
        margin: 20px;
        text-align: center;
        column-gap: 2rem;
    }
    #gymbro {
        order:1;
    }
    #two {
        order:2;
    }
    #catdad {
        order:3;
    }
    #three {
        order: 4;
    }
    #programmer {
        order:5;
    }
}
.grid-img > img{
   height: 12em;
   border-radius: 5px;
}
.stuff-container {
    display:flex;
    justify-content: center;
}
.bottom-container {
    display: flex;
    justify-content: space-between
}
